<p-table
  *ngIf="isFetched"
  [value]="currenciesObjecyKeys"
  [tableStyle]="{ 'min-width': '60rem' }"
  class="pt-3"
>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th class="text-left">#</th>
      <th class="text-center">Name</th>
      <th class="text-center">Price</th>
      <th class="text-center">Email</th>
      <th class="text-center">Last Trade</th>
      <th class="text-center">Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-key let-columns="columns">
    <tr>
      <td>{{ currencies[key].id }}</td>
      <td class="text-center">{{ currencies[key].name }}</td>
      <td class="text-center">{{ currencies[key].price }}</td>
      <td class="text-center">{{ currencies[key].email }}</td>
      <td class="text-center">{{ currencies[key].last_trade }}</td>
      <td class="text-center"><i class="pi pi-trash"></i></td>
    </tr>
  </ng-template>
</p-table>

<!-- Skeleton for Small Views -->
<p-skeleton
  *ngIf="!isFetched"
  width="100%"
  height="15rem"
  class="sm:hidden"
></p-skeleton>

<!-- Skeleton for large Views -->
<p-skeleton
  class="hidden sm:block"
  *ngIf="!isFetched"
  width="60rem"
  height="15rem"
></p-skeleton>
